body {
    background-color: #352f5b;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.todo li {
    background: #423a6f;
}

.delete {
    cursor: pointer;
}

span {
    color: azure;
}

.test {
    color: blanchedalmond;
}